

.About_us {
     background-image: linear-gradient(rgba(8, 8, 8, 0.8),rgba(0, 0, 0, 0.9)), url(abt.png);  

    /* background-image: url(abt.png); */
 
    background-size:cover; 
    background-position: center;
    background-color: rgb(245, 162, 7);
    
    color: rgb(255, 255, 255);
    padding: 6rem 3%;
    display: block;
    margin: 10px;
  }
  
  
  .About_us .title{
    margin-top:50px;
  }
  
 .About_us .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.container  .images{
    margin-left: 55px;
    margin-bottom:100px;
    border-radius: 8px;
  }
  
  .container .contents {
    position: absolute;
    top: 50%;
    left: 74%;
    transform: translate(-50%, -50%);
    width:40%;
  }
  .container .contents .p p{
font-size: 16px;
text-align:center;
font-family:sans-serif;
font-style:initial;
  } 
  .container .contents button {
    margin-top:20px;
    margin-left: 160px;



} 
  
.About_us .container #btn{
  
background-color: #f3971b;
color:white;
font-weight: bold;
font-size: 15px;
font-family:'Times New Roman', Times, serif;
padding:8px;
border-radius: 6px;
box-shadow: 0,0,0,rgba(238, 213, 70, 0.5);
cursor:pointer;
}
  
  